# Just wanted these for structure
logs/*
content_repository/*
database_repository/*
flowfile_repository/*
provenance_repository/*
conf/archive
conf/archive/*
conf/*.gz
data/*
.idea
nifi.tar.gz
*.tar
ca.crt
ca.key
*.p12
*.pkcs12
*.p6b
*.csr
*.pem
*.csr
certs/index.txt
certs/index.txt*
certs/serial.txt
certs/serial.txt*
*.iml